/* put your shameful styles here */


.cart-toggle {
    display: none;
}

.btn.is-arrow {
   /* all: unset; */
   cursor: pointer; 
}

.btn.is-arrow:hover {
    opacity: 0.4;
}


/* arrow icon text link */
.btn.is-arrow {
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    border-radius: 0;
    border: none;
    text-decoration-line: underline;
    padding: 0;
    /* margin-top: 1rem; */
    /* font-size:  initial; */
    /* font-size: inherit; */
    font-weight:400;
}

.btn.is-arrow::after,
.btn.is-arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -2rem;
   
    
}
.btn.is-arrow::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 5px
}

.btn.is-arrow::before {
    width: 16px;
    height: 2px;
    bottom: 8px;
    background: currentColor
}


/* arrow icon footer link*/

.menu-footer {
    margin-top: 5rem;
}
.menu-footer a  {
    text-decoration-line: underline;
 
}

.menu-footer a {
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));

    border-radius: 0;
    border: none;
    text-decoration-line: underline;
    padding: 0;
    font-size:  initial;
    font-weight: 600;
    transition: transform 250ms;
    
}
.menu-footer a:hover {
    transform: translateY(-10px);
     opacity: 100%;
     color: currentColor;
}
.menu-footer a::after,
.menu-footer a::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -3rem;
}
.menu-footer a::after {
    width: 1.5rem;
    height: 1.5rem;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(0deg);
    bottom: 20px;
    right: -2.85rem;
}
.menu-footer a::before {
    transform: rotate(135deg);
    width: 2rem;
    height: 2px;
    bottom: 1.85rem;
    background: currentColor
}

/* last child not arrow*/
.menu-footer li:last-child a {
    all: unset;
    display: inline-block;
font-size: 20px;
text-decoration-line: underline;
padding-top: 20px;
}

/* arrow icon mobile secondary link*/

.menu-mobile--secondary a  {
    text-decoration-line: underline;
 
}

.menu-mobile--secondary a {
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));

    border-radius: 0;
    border: none;
    text-decoration-line: underline;
    padding: 0;
    font-size:  1.8rem !important;
    font-weight: 600;
}
.menu-mobile--secondary a::after,
.menu-mobile--secondary a::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: -3rem;
}
.menu-mobile--secondary a::after {
    width: 1.5rem;
    height: 1.5rem;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(0deg);
    bottom: 10px;
    right: -2.85rem;
}
.menu-mobile--secondary a::before {
    transform: rotate(135deg);
    width: 2rem;
    height: 2px;
    bottom: 1.25rem;
    background: currentColor
}

/* last child not arrow*/
.menu-mobile--secondary li:last-child a {
    all: unset;
    display: inline-block;
font-size: 20px !important;
text-decoration-line: underline;
padding-top: 20px;
}
.menu-mobile--secondary li:last-child a::before,
.menu-mobile--secondary li:last-child a::after {
    all: unset;
}
/* logo text */

#KOKK_MATKREATØR {
    @apply font-Neue font-bold text-16 sm:text-19;
    font-weight: 600;
  
    /* font-family: inherit; */
    
}
#Leopold_Prytz_Roze {
    @apply text-10 sm:text-11;
    font-family: inherit;
    font-weight: 100;
}

.creator {
    text-decoration: underline;
}

.has-btn .btn.is-arrow {
    /* all: unset; */
    cursor: pointer;
    text-decoration: underline;
    font-size: inherit;
}
